
@font-face {
    font-family: 'Lufga';
    src: url('./src/assets/lufga_fonts/Lufga-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('/src/assets/lufga_fonts/Lufga-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Lufga';
  src: url('/src/assets/lufga_fonts/Lufga-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lufga';
  src: url('/src/assets/lufga_fonts/Lufga-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lufga';
  src: url('/src/assets/lufga_fonts/Lufga-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/src/assets/lufga_fonts/Lufga-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}


body{
  font-family: 'Lufga', sans-serif;
  
}

